<html>
<head>
<link rel="StyleSheet" type="text/css" href="exportdetails_item_popcorn.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ m.title }}</title>
<script type="text/javascript">
var baseFilename = "{{ m.id }}";
//
var curFocus = "";
  var title = 1;
  var lnk = 1;
  function bind() {
    if ( title == 1 ) title = document.getElementById('title').firstChild;
    if ( lnk == 1 ) lnk = document.getElementById('playLink');
  }
  function show(x) {
    bind();
    title.nodeValue = document.getElementById('title'+x).firstChild.nodeValue;
    curFocus = document.getElementById('e' + x);
    if(lnk)lnk.setAttribute('HREF', baseFilename + '.playlist' + x + '.jsp');
    watched(0);
  }
  function hide() {
    bind();
    title.nodeValue = "-";
    if(lnk)lnk.setAttribute('HREF', '');
  }
//
</script>
<script>
  var wloc=location.href;
  wScriptLocation=wloc.substring(38,wloc.lastIndexOf("/"))+"/Watched/";

  var movieLocation="{{ m.parts.0.play_path }}"
  movieLocation=movieLocation.substring(0,movieLocation.lastIndexOf("/"))+"/";

  wlocation=wloc.substring(38,wloc.lastIndexOf("/"))+"/Watched/";
</script>
<script language="JavaScript" src="Watched/watched.js" type="text/javascript">
//
</script>
</head>
<body bgproperties="fixed" background="pictures/background.jpg" onloadset="Play" onload="watched(0);">
<table class="main" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr height="30"><td height="50" align="center" colspan="2"><a TVID="HOME" href=".html"/><a TVID="PGDN" href="{{ m.next }}.html"/><a TVID="PGUP" href="{{ m.prev }}.html"/></td></tr>
  <tr align="left" valign="top">
    <td width="420px"><img width="400" src="{{ m.large_poster}}"/></td>
    <td><table border="0" width="85%">
	<tr><td class="title1" valign="top" colspan="2">{{ m.title }}</td></tr>
	<tr><td class="title2" valign="center"><img src="pictures/rating_{{ m.rating|int * 10 // 10 * 10 }}.png"/>({{ m.rating }}/10)</td></tr>
	<tr><td class="title2" valign="top" colspan="2">By {{ m.prodco }}</td></tr>
	<tr><td class="title2" valign="top" colspan="2">
{% for g in m.genre %}
<a href="Genres_{{ g }}_1.html">{{ g }}</a>, 
{% endfor %}
{{ m.parts.0.duration // 60 }}h {{ m.parts.0.duration % 60 }}m, {{ m.mpaa }}</td></tr>
	<tr class="divider"><td colspan="2"> </td></tr>
	<tr><td width="85%" colspan="2" class="plot">{{ m.desc }}</td></tr>
	<tr class="spacer"><td colspan="2"> </td></tr>
	<tr><td colspan="2">
	    <center><table width="90%">
		<tr><td class="title3" width="16%">System</td><td class="normal" width="16%">{{ m.parts.0.system }}</td><td class="title3" width="16%">Dimension</td><td class="normal" width="16%">{{ m.parts.0.width }}x{{ m.parts.0.height }}</td></tr>
		<tr><td class="title3" width="16%">Video</td><td class="normal" width="16%">{{ m.parts.0.video }}</td><td class="title3" width="16%">FPS</td><td class="normal" width="16%">{{ m.parts.0.fps }}</td></tr>
		<tr><td class="title3" width="16%">Audio</td><td class="normal" width="16%">{{ m.parts.0.audio }}</td><td class="title3" width="16%">Channel</td><td class="normal" width="16%">{{ m.parts.0.channels }}</td></tr>
		<tr><td class="title3" width="16%" valign="top"> </td><td class="normal" width="16%" valign="top"> </td><td class="title3" width="16%" valign="top"/><td class="title3" width="16%" valign="top">Watched:</td><td id="watched" class="normal" width="16%" valign="top">false</td></tr>
	      </table></center>
	</td></tr>
	<tr class="spacer" colspan="2"><td colspan="2"/></tr>
{% if m.parts|length == 1 %}
	<tr valign="top"><td align="center" colspan="2"><a class="link" href="{{ m.parts.0.play_path }}" TVID="Play" name="Play" onclick="watched(2);" vod=""><img src="pictures/play.png" onfocussrc="pictures/play_selected.png"/></a></td></tr>
{% else %}
	<tr><td><table>
	      <tr valign="top"><td class="normal">
		  <a id="playLink" tvid="Play" vod="playlist" href="{{ m.parts.0.play_path }}" onclick="watched(2);"/>
{% for part in m.parts %}
		  <a href="{{ part.play_path }}" TVID="{{ loop.index }}" name="e{{ loop.index }}" id="e{{ loop.index }}" onkeyleftset="e{{ loop.index-1 }}" onkeyrightset="e{{ loop.index+1 }}" onfocus="show({{ loop.index }})" onblur="hide()" onclick="watched(2);" vod=""><img src="pictures/play_small.png" onfocussrc="pictures/play_selected_small.png" align="top" onmouseover="show({{ loop.index }});" onmouseout="hide();"/></a>
		  <a class="firstMovie">{{ loop.index }}  </a>
{% endfor %}
	      </td></tr>
	      <tr><td class="normal">
                  <div id="title">  </div>
                  <a class="link" onfocus="hide()" href="{{ m.playlist }}" vod="playlist"><img src="pictures/play_small.png" onfocussrc="pictures/play_selected_small.png" align="top"/> PLAY ALL</a>
              </td></tr>
	</table></td></tr>
{% endif %}
      </table>

{% if m.parts|length == 1 %}
      <div class="title" id="title1">Part 1</div>
{% else %}
{% for part in m.parts %}
      <div class="title" id="title{{ loop.index }}">{{ part.title }}</div>
{% endfor %}
{% endif %}
    </td>
  </tr>
</table>
<script id="watchedjs" language="JavaScript" src="empty.js" type="text/javascript"><!--JavaScript--></script><a href="#" onclick="watched(1);" TVID="RED"><!--Watched Key--></a>
</body>
</html>
