<html>
<head>
<link rel="StyleSheet" type="text/css" href="exportindex_item_pch.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>MovieJukebox</title>
<script type="text/javascript">
var cols = 5;
var rows = 2;
var nmov = 10;

//
  var title = 1;
  var play = 1;
  var pgup = 1, pgupload = 1;
  var pgupHref;
  var pgdn = 1, pgdnload = 1;
  var pgdnHref;
  function bind() {
    if ( title == 1 ) title = document.getElementById('title');
    if ( pgup == 1 ) {
        pgup = document.getElementById('pgup');
        pgupload = document.getElementById('pgupload');
        pgupHref = (pgup == null) ? null : pgup.getAttribute('href');
        }
    if ( pgdn == 1 ) {
        pgdn = document.getElementById('pgdn');
        pgdnload = document.getElementById('pgdnload');
        pgdnHref = (pgdn == null) ? null : pgdn.getAttribute('href');
        }
  }
  
  function show(x) {
    title.firstChild.nodeValue = document.getElementById('title'+x).firstChild.nodeValue;
    document.getElementById('playid'+x).setAttribute('tvid','play');
    if (pgup != null) pgup.setAttribute('href', pgupHref + '?t=u1&s=' + x);
    if (pgdn != null) pgdn.setAttribute('href', pgdnHref + '?t=d1&s=' + x);
    if (pgupload != null) pgupload.setAttribute('href', pgupHref + '?t=u2&s=' + x);
    if (pgdnload != null) pgdnload.setAttribute('href', pgdnHref + '?t=d2&s=' + x);
  }
  
  function hide(x) {
    title.firstChild.nodeValue = "";
   document.getElementById('playid'+x).setAttribute('tvid', '#');
  }
  
  function init() {
    bind();

    if (cols <= 1 || rows < 1) return;

    var l = "" + location.href;
    var it = l.indexOf("?t=");
    var is = l.indexOf("&s=");

    if (it <= 0 || is <= 0 || is < it) return;
    
    try {
        var x = parseInt(l.substr(is + 3));
        var t = l.substr(it + 3, 2).toLowerCase();
        var c = ((x - 1) % cols) + 1;

        if (t == "u2") {
            x = ((rows - 1) * cols) + c;
        } else if (t == "d2") {
            x = c;
        }

        if (x > nmov) {
            if (nmov <= c) x = nmov;
            else x = (Math.floor(nmov / cols) * cols) + c;
        }

        document.body.setAttribute('onloadset', "" + x);
    } catch (e) {}
  }
//
</script>
</head>
<body bgproperties="fixed" background="pictures/background.jpg" onloadset="1">
<table class="main" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td COLSPAN="2" align="center">
      {% block letterhead %}
{% macro letterhead(name, val, numkey) -%}
{%- if not val -%}
<span class="a">{{ name }}</span>
{%- elif numkey == 0 -%}
{% if name_prefix=="Title_" ~ name %}
<a href="Title_{{ name }}_1.html" class="current">{{ name }}</a>
{% else %}
<a href="Title_{{ name }}_1.html">{{ name }}</a>
{% endif %}
{%- else -%}
{% if name_prefix=="Title_" ~ name %}
<small>{{ numkey }}</small><a href="Title_{{ name }}_1.html" tvid="{{ numkey }}" class="current">{{ name }}</a>
{% else %}
<small>{{ numkey }}</small><a href="Title_{{ name }}_1.html" tvid="{{ numkey }}">{{ name }}</a>
{% endif %}
{%- endif -%}
{%- endmacro %}
      <table id="t9">
	<tr>
	  <td align="right">{{ letterhead('09', num_idx['09'], 1) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('A', num_idx['A'], 2) }}</td>
	  <td align="right">{{ letterhead('B', num_idx['B'], 0) }}</td>
	  <td align="right">{{ letterhead('C', num_idx['C'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('D', num_idx['D'], 3) }}</td>
	  <td align="right">{{ letterhead('E', num_idx['E'], 0) }}</td>
	  <td align="right">{{ letterhead('F', num_idx['F'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('G', num_idx['G'], 4) }}</td>
	  <td align="right">{{ letterhead('H', num_idx['H'], 0) }}</td>
	  <td align="right">{{ letterhead('I', num_idx['I'], 0) }}</td>
	  <td align="right">{{ letterhead('J', num_idx['J'], 5) }}</td>
	  <td align="right">{{ letterhead('K', num_idx['K'], 0) }}</td>
	  <td align="right">{{ letterhead('L', num_idx['L'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('M', num_idx['M'], 6) }}</td>
	  <td align="right">{{ letterhead('N', num_idx['N'], 0) }}</td>
	  <td align="right">{{ letterhead('O', num_idx['O'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('P', num_idx['P'], 7) }}</td>
	  <td align="right">{{ letterhead('Q', num_idx['Q'], 0) }}</td>
	  <td align="right">{{ letterhead('R', num_idx['R'], 0) }}</td>
	  <td align="right">{{ letterhead('S', num_idx['S'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('T', num_idx['T'], 8) }}</td>
	  <td align="right">{{ letterhead('U', num_idx['U'], 0) }}</td>
	  <td align="right">{{ letterhead('V', num_idx['V'], 0) }}</td>
	  <td class="separator"/>
	  <td align="right">{{ letterhead('W', num_idx['W'], 9) }}</td>
	  <td align="right">{{ letterhead('X', num_idx['X'], 0) }}</td>
	  <td align="right">{{ letterhead('Y', num_idx['Y'], 0) }}</td>
	  <td align="right">{{ letterhead('Z', num_idx['Z'], 0) }}</td>
	</tr>
      </table>
      {% endblock %}
    </td>
  </tr>
  <tr align="left" valign="top">
    <td width="120">
      <table class="categories" border="0">
{% if name_prefix == "Other_All" %}
	<tr valign="top"><td align="right"><a href="Other_All_1.html" name="All" class="current">All</a></td></tr>
{% else %}
	<tr valign="top"><td align="right"><a href="Other_All_1.html" name="All">All</a></td></tr>
{% endif %}
{% if num_cat.Top250 %}
{% if name_prefix == "Other_Top250" %}
	<tr valign="top"><td align="right"><a href="Other_Top250_1.html" name="Top250" class="current">Top250</a></td></tr>
{% else %}
	<tr valign="top"><td align="right"><a href="Other_Top250_1.html" name="Top250">Top250</a></td></tr>
{% endif %}
{% endif %}
{% for genre, num in num_cat.genre.iteritems() %}
{% if num %}
{% if name_prefix == "Genres_" ~ genre %}
	<tr valign="top"><td align="right"><a href="Genres_{{ genre }}_1.html" name="{{ genre }}" class="current">{{ genre }}</a></td></tr>
{% else %}
	<tr valign="top"><td align="right"><a href="Genres_{{ genre }}_1.html" name="{{ genre }}">{{ genre }}</a></td></tr>
{% endif %}
{% endif %}
{% endfor %}
	<tr><td><hr> </hr></td></tr>
	<tr><td align="right">
	  <table>
	      <tr>
		<td valign="center"><div class="counter">{{ cur_page }} / {{ total_pages }}</div></td>
		<td valign="top"><a name="pgdn" tvid="pgdn" id="pgdn" href="{{ name_prefix }}_{{ next_page }}.html"><img src="pictures/nav_down.png"/></a><a name="pgup" tvid="pgup" id="pgup" href="{{ name_prefix }}_{{ prev_page }}.html"><img src="pictures/nav_up.png"/></a></td>
	      </tr>
	  </table>
	</td></tr>
      </table>
    </td>
    <td align="left">
      <table class="movies" border="0">
{% for item in listing %}
{% if loop.index0 is divisibleby 5 %}
        <tr>
{% endif %}
	  <td width="1"><a href="{{ item.id }}.html" name="{{ loop.index }}" id="movie{{ loop.index }}" onfocus="show({{ loop.index }})" onblur="hide({{ loop.index }})" onclick="return prompter('R')"><img src="{{ item.small_poster }}" onmouseover="show({{ loop.index }})" onmouseout="hide({{ loop.index }})"/></a><a href="{{ item.play_path if item.play_path else item.playlist }}" tvid="#" id="playid{{ loop.index }}" vod=""/></td>
{% if loop.index is divisibleby 5 %}
        </tr>
{% endif %}
{% endfor %}
      </table>
      <br/>
      <table class="title" width="100%">
        <tr><td id="title" align="center"> </td></tr>
      </table>
    </td>
  </tr>
</table>
{% for item in listing %}
<div class="title" id="title{{ loop.index }}">{{ item.title }}</div>
{% endfor %}
<div class="title"><a TVID="HOME" href=".html">Home</a><a name="pgdnload" onfocusload="" id="pgdnload" href="Other_All_{{ next_page }}.html"/><a name="pgupload" onfocusload="" id="pgupload" href="Other_All_{{ prev_page }}.html"/></div>
<script type="text/javascript" defer="defer">
    init();
    </script>
</body>
</html>
